.App {
  text-align: center;
  background-image: url("background_curtains.jpg") no-repeat center center fixed; 
  background-size:cover;
  -moz-background-size:cover;
  -webkit-background-size:cover;
  -ms-background-size:cover;
  -o-background-size:cover;
}

html, body {
  height: 100%;
  background: url("background_curtains.jpg") no-repeat center center fixed;
  background-size:cover;
  -moz-background-size:cover;
  -webkit-background-size:cover;
  -ms-background-size:cover;
  -o-background-size:cover;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  font-size: 20px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: rgb(134, 4, 4);
}

.App-link {
  color: #09d3ac;
}

.container-div{ 
  Display: flex;
  Height: 100vh;
  Width: 100vw; 
  Align-Items: center;
  Justify-Content: center;
  }

  img {
    width: 60%;
    margin: auto;
    display: block;
  }